
<div class="row justify-content-center mb-2">
	<div class="col-8 col-md-6 col-lg-5">

	{% if site.home-logo.splash != null %}
		<a href="https://www.splashsync.com" rel="nofollow" target="_blank">
			<img 
				alt="Splash Sync" 
				class="img-fluid"
				src="{{ "/assets/img/logo.png" | relative_url }}"
				>
		</a>
	{% endif %}

	{% if site.home-logo.badpixxel != null %}
		<a href="https://badpixxel.com" class="font-bad display-2 text-white" rel="nofollow" target="_blank">
			BadPixxel
		</a>
	{% endif %}

	</div>
</div>
